<h4 class="mb-3">Contact us</h4>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">1 (877) 889-9009</h5>
        <p class="card-text">oll-free from the United States and Canada</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">1 (571) 434-5003</h5>
        <p class="card-text">Outside the United States and Canada</p>
      </div>
    </div>
  </div>
</div>
